html {background: #666;}
body {
	width: 800px; margin: 0 auto; background: white;
	font: 14px "Lucida Grande", Arial, sans-serif;
	line-height: 21px; padding-bottom: 10px; margin-bottom: 20px;
}
h1, h2, h3 {font-family: "Rockwell", "Trebuchet MS", "Arial", sans-serif;}
h1 {font-size: 36px; line-height: 36px; margin: 20px 0 10px;}
h2 {font-size: 28px; line-height: 28px; margin: 15px 0 10px;}
h3 {font-size: 18px; line-height: 18px; margin: 10px 0 5px;}
h4 {font-size: 14px; line-height: 14px; margin: 10px 0 5px;}
h5 {font-size: 12px; line-height: 12px; margin: 10px 0 5px;}
h6 {font-size: 10px; line-height: 10px; margin: 10px 0 5px;}

li {margin-left: 20px;}

a {
	text-decoration: none; color: black;
	border-bottom: 1px dotted #aaa;
}
a:hover {border-bottom: 1px dotted #222;}


input.text, input.string, input.email_address, input.password, textarea {
	border: 2px solid #444; padding: 1px;
}

input.file_upload {
	border: 1px dotted #666;
}

.button {
	padding: 4px 8px;
	color: white; background: black; border: 1px solid #666;
	font: 12px "Lucida Grande", Arial, sans-serif;
}
.button:hover {cursor: pointer;}

.content-header, .content-body, .content-footer {margin: 30px; padding: 0 30px;}
.article { margin: 20px 0; border-top: 1px dotted #ccc;}

/***********/

.page-header {color: white; background: black; padding: 20px 0 0; position: relative;}
.page-header h1 {margin: 0; padding: 0 40px 30px; font-size: 48px; letter-spacing: -4.0pt;}
.page-header .nav {padding-left: 30px; overflow: hidden; height: 100%;}
.page-header .nav li {float: left; list-style: none; margin-left: 0;}
.page-header a {color: white; border: none;}
ul.main-nav {float: left; margin: 0;}
.main-nav li {background: black; margin-right: 10px;}
.main-nav a {
	display: block; padding: 8px 15px; border: none;
	font: bold 16px "Myriad Pro", Arial, sans-serif; background: #222;
}
.main-nav a:hover {background: #222; border-bottom: none;}
.account-nav {
/*	clear: both; float: right;*/
	position: absolute; top: 10px; right: 20px;
	font: normal 12px "Myriad Pro", Arial, sans-serif;
}
.account-nav li {padding-right: 20px;}
.account-nav a {border-bottom: 1px solid black; font-weight: bold;}
.account-nav a:hover {border-bottom: 1px dotted #ddd;}


.edit-page .delete-button {margin-top: 25px;}

.login-page {width: 50%;}


/*******************************************************/
/* these styles are for the generated front index page */
/* you can delete them if you over-ride it             */

.front-page .welcome-message {
	background: #eee; color: #222; padding: 10px 20px 20px;
}
.front-page .welcome-message h2 {
	font-size: 18px; line-height: 27px;
}
.front-page .content-body li {list-style: none; margin-left: 0;}