html {background: #666;}
body {
	width: 760px; margin: 0 auto; background: white; color: #222;
	font: 12px "Lucida Grande", Arial, sans-serif;
	line-height: 18px; margin-bottom: 20px;
}
h1, h2, h3 {font-family: "Lucida Grande", "Trebuchet MS", "Arial", sans-serif; font-weight: normal;}
h1 {font-size: 22px; line-height: 22px; margin: 20px 0 10px;}
h2 {font-size: 18px; line-height: 18px; margin: 15px 0 10px;}
h3 {font-size: 16px; line-height: 16px; margin: 10px 0 5px;}
h4 {font-size: 14px; line-height: 14px; margin: 10px 0 5px;}
h5 {font-size: 12px; line-height: 12px; margin: 10px 0 5px;}
h6 {font-size: 10px; line-height: 10px; margin: 10px 0 5px;}

li {margin-left: 20px;}

a {
	text-decoration: none; color: #222;
	border-bottom: 1px dotted #ccc;
	background: #fafafa;
}
a:hover {
	border-bottom: 1px dotted #aaa; background: #f2f2f2; color: black;
}
h1 a, h2 a, h3 a {background: none; border: none;}

input.text, input.string, input.email_address, input.password, input.search, input.integer, input.float, textarea {
	font-size:1.1em;
	line-height:1.3em;
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	background: #fff url(../images/fieldbg.gif) repeat-x top;
}

input.file_upload {
	border: 1px dotted #666;
}

.button {
	padding: 6px 10px;
	font: bold 11px "Lucida Grande", Arial, sans-serif;
	border-top:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #8c8c8c;
	background: #eee; 
}
.button:hover {cursor: pointer;}
.button:active {border-top:1px solid #8c8c8c; border-bottom:1px solid #ddd;}
.actions {font-size: 11px;}


#ajax-progress {
	background: black url(../images/spinner.gif) no-repeat 10px 8px;
	border: 1px solid #444;
	padding: 8px 20px 8px 40px;
	color: #cfc; font-weight: bold; font-size: 13px; text-shadow: black 2px 2px 2px;
}
#search-results-panel {
	position: absolute; top: 35px; right: 25px; width: 350px; height: 500px; overflow: auto; z-index: 50;
	padding: 0 20px 20px; background: #f2f2f2; border: 1px solid #ddd; color: black;
}
#search-results-panel .card.linkable a {
	color: black;
}

.content-header, .content-body, .content-footer {margin: 10px 45px; padding: 0;}
.flash {margin-left: 40px; margin-right: 40px; text-shadow: #728852 2px 2px 0;}
.article { margin: 20px 0; border-top: 1px dotted #ccc;}

.content-body {padding-bottom: 10px;}
.content-footer {padding-bottom: 20px;}


/* aside layout */
body.aside-layout {width: 960px;}
.aside-layout .page-content {overflow: hidden; height: 100%;}
.main-content {float: left; width: 670px;}
.aside {float: right; width: 220px; padding: 20px 30px; background: #E5E5E5;}
.aside-content {
	font-size: 11px; color: #444;
}
/* trick to produce equal height columns */
.aside, .main-content {padding-bottom: 10000px; margin-bottom: -10000px;}


/***********/

.page-header {color: white; background: black; margin-top: 20px; padding: 20px 0 0; position: relative;}
.page-header h1 {margin: 0; padding: 0 30px 30px; font-family: "Arial Black", Tahoma, Arial, sans-serif; font-size: 36px; letter-spacing: -1.5pt;}
.page-header .nav {margin: 0 20px; overflow: hidden; height: 100%;}
.page-header .nav li {float: left; list-style: none; margin-left: 0;}
.page-header a, .page-header a:hover {color: white; border: none; background: none;}

.page-header div.search {
	position: absolute; top: 10px; right: 5px; padding: 6px 30px 8px 15px; 
}
.page-header div.search label {
	padding-right: 10px; 
	text-transform: uppercase; font: bold 9px Arial, sans-serif; letter-spacing: 1.0pt;
}
.page-header div.search input {
	font-size: 10px;
}
#search-spinner {position: absolute; top: 6px; right: 7px;}

.account-nav {
	position: absolute; top: -20px; right: 35px; font-size: 11px; 
}

ul.main-nav {float: left; margin: 0 10px;}
.main-nav li {background: black; margin-right: 10px;}
.main-nav a {
	background: #282828;
	display: block; padding: 5px 15px 7px; border: 1px solid #313131; border-width: 1px 1px 0;
	font: bold 13px "Lucida Grande", Arial, sans-serif; text-shadow: black 2px 2px 2px;
}
.main-nav a:hover {background: #444; border: 1px solid #555; border-width: 1px 1px 0;}
.account-nav li {
	padding-left: 20px; float: left; list-style: none; margin-left: 0; color: #ddd; text-shadow: #444 2px 2px 0;}
.account-nav a {font-weight: bold;}
.account-nav a:hover {border-bottom: 1px dotted #ddd;}


/* pagination nav, needs a more specific class on the wrapper */
.content-body .nav {font-size: 11px; margin-bottom: 10px;}
.content-body .nav a {margin-right: 5px;}

.field-list th {width: 120px;}
.field-list td {width: auto;}

.login-page, .signup-page {width: 50%; margin-top: 40px;}
.login-page .field-list, .signup-page .field-list {width: 300px;}
.login-page .field-list td, .signup-page .field-list td {width: auto;}
.login-page .field-list th, .signup-page .field-list th {width: 120px;}
.login-page .submit-button, .signup-page .submit-button {margin: 10px 130px;}

.edit-page .delete-button {margin-top: 25px;}

.show-page .content-header {position: relative; border-bottom: 1px dotted #ddd;}
.show-page .content-header h1, .new-in-collection-page .content-header h1 {margin-bottom: 4px; margin-right: 70px;}
.show-page .content-header a.edit {position: absolute; top: 0; right: 0;}

.new-in-collection-page .content-header h2 {margin-top: 6px; font: bold 16px "Lucida Grande", Arial, sans-serif;}
.new-in-collection-page .content-header h2, .new-in-collection-page .content-header h2 a {color: #222;}

.show-page .create-new {
	padding: 0 30px;
	border-top: 1px dotted #ddd; margin-top: 20px; background: #f5f5f5;
}
.show-page .create-new form .submit-button {margin: 20px 125px;}

.card {
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
	padding:10px 20px;
	margin-bottom: 5px;
}
.card a {background: #f5f5f5;}
.card .creation-details {
	font-size: 11px; color: #333; display: block;
}
.card .datetime {color: #666;}

.card.content {
	font-size: 11px;
	border: none; background: none; padding: 0; margin: 10px 0;
}

.new-links {margin-top: 20px;}
.new-links ul li {list-style: none; margin-left: 0;}

.dependent-collection ul li {
	list-style: none; margin-left: 0;
}

/*******************************************************/
/* these styles are for the generated front index page */
/* you can delete them if you over-ride it             */

.front-page .welcome-message {
	background: #eee; color: #222; border: 1px solid #e8e8e8; padding: 10px 20px 20px;
}
.front-page .welcome-message h2 {
	font-size: 18px; line-height: 27px;
}
.front-page .content-body li {list-style: none; margin-left: 0;}