html {background: #666;}
body {
	width: 600px; margin: 0 auto; background: white;
	font: 14px "Lucida Grande", Arial, sans-serif;
	line-height: 21px; padding-bottom: 10px; margin-bottom: 20px;
}
h1, h2, h3 {font-family: "Rockwell", "Trebuchet MS", "Arial", sans-serif;}
h1 {line-height: 54px;}
h2 {line-height: 42px;}
h3 {line-height: 27px;}

a {
	text-decoration: none; color: black;
	border-bottom: 1px dotted #aaa;
}
a:hover {border-bottom: 1px dotted #222;}

.content_header, .content_body {margin: 30px;}
.article { margin: 20px 0; border-top: 1px dotted #ccc;}

/***********/

.page_header .nav {color: white; padding-bottom: 8px; background: black; overflow: hidden; height: 100%;}
.page_header .nav li {float: left; padding-right: 20px;}
.page_header .nav a {border-bottom: 1px solid black; color: white;}
.page_header .nav a:hover {border-bottom: 1px dotted #ddd;}
.main_nav {float: right;}
.main_nav li {line-height: 36px;}
.main_nav a {
	font: bold 16px "Myriad Pro", Arial, sans-serif;
}
.account_nav {
	clear: both; float: right;
	font: normal 12px "Myriad Pro", Arial, sans-serif;
}
.account_nav a {font-weight: bold;}

/***********/

.intro {
	background: #eee; color: #222; padding: 10px 20px;
}
.intro h2 {
	font-size: 18px; line-height: 27px;
}
