<!-- Global taglib - these tags are shared across all subsites -->

<include src="rapid" plugin="hobo"/>

<include src="taglibs/auto/rapid/cards"/>
<include src="taglibs/auto/rapid/pages"/>
<include src="taglibs/auto/rapid/forms"/>

<set-theme name="clean"/>

<% if with_admin_site? -%>
<extend tag="page">
  <old-page merge>
    <footer:>
      <a href="&admin_users_url" if="&current_user.administrator?">Admin</a>
    </footer:>
  </old-page>
</extend>
<% end -%>
