hobo_spec/build_app/new_hobo_app
hobo_spec/rails_root/log
hobo_spec/rails_root/vendor/plugins/hobofields

doc/agility-tutorial/agility/db/*.sqlite3
doc/agility-tutorial/agility/log/*
doc/agility-tutorial/agility/vendor/plugins/hobo
doc/agility-tutorial/agility/vendor/plugins/hobofields
doc/agility-tutorial/agility/db/*

hobo/taglib-docs

hobo/pkg
hobosupport/pkg
hobofields/pkg
