html {background: #0f2639;}
.page-header {padding: 0; margin-top: 15px; margin-bottom: 0;}
.page-header {
	width: 100%;/* height: 96px;*/
	background: url(/images/header-bg.png) top left repeat-x;
}
.page-header h1 {padding: 30px 40px;}

.page-header .nav {margin: 0; background: #101d27;}
.main-nav {padding-left: 20px;}
.main-nav a {padding: 7px 8px 8px; border: none; background: none;}
.main-nav a:hover {border:none; background: black;}
.account-nav {top: -15px;}
.aside-content {background: #c7dbe6;}


.show-page.story ul.collection.tasks li        { margin: 10px 0; }
.show-page.story .card.task                   { margin: 0; }

.card.task .content          { float: none; font-size: 11pt; margin: 0; }
.card.task .creation-details { float: none; }
.card.task                   { position: relative; }
.card.task a.edit            { float: right;}
.card.task .delete-button    { float: right;}

.index-page.story-status li { overflow: hidden; height: 100% }
.index-page.story-status form.button-to { float:right; }

.show-page.project .filter {float: left; }
.show-page.project .filter form {display: inline; }
