
<extend tag="page">
  <old-page merge>
    <footer:>
      <a href="&<%= file_name %>_<%= options[:user_resource_name].underscore %>_url" if="&current_user.administrator?">Admin</a>
    </footer:>
  </old-page>
</extend>
