.hidden {display: none;}

.in-place-textfield-bhv, .in-place-textarea-bhv, .in-place-html-textarea-bhv {
	border: 1px dotted #666;
	padding: 0 3px; padding-right: 20px;
	background-image: url(../images/pencil.png);
	background-position: top right;
	background-repeat: no-repeat;
}

.inplaceeditor-form input, .inplaceeditor-form textarea, 
table.new-record textarea, table.new-record input {
	border: 1px dotted #666;
	padding: 3px;	width: 100%;
}
.inplaceeditor-form, .inplaceeditor-form input {
	display: inline;	
}

/**** Admin ****/

.admin-banner {
	background: #9d0018; border-top: 2px solid #7a0013;	border-bottom: 2px solid #7a0013;
	padding: 2px 0;
	margin: 10px 0;
}
.admin-banner p, .admin-banner span {
	font: 12px "Lucida Grande", Arial, sans-serif;
}
.admin-banner p, .admin-banner div {margin-bottom: 0;}
.admin-banner a {color: white; text-decoration: none; padding: 1px 5px; font-weight: bold;}
.admin-banner a:hover {color: #9d0018; background: white;}
.admin-banner .logged-in {
	float: right;
}

/********* everything below here came from hobo_rapid.css, needs looking at ********/

/**** Default styling for Rapid ***/

#ajax-progress {
	float: right; margin: 20px;
	position: fixed; display: none; z-index: 10;
}

/* Scriptaculous Autocompleter ---*/

div.completions-popup {
    position:absolute;
    width:250px;
    background-color:white;
    border:1px solid #888;
    margin:0px;
    padding:0px;
}
div.completions-popup ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
div.completions-popup ul li.selected { background-color: #ffb;}
div.completions-popup ul li {
    list-style-type:none;
    display:block;
    margin:0;
    padding:2px;
    cursor:pointer;
}


.field-list   {width:100%;}
.field-list td {vertical-align: middle;}
.field-list th {font-weight: bold;}
.field-list th, .field-list td {padding: 5px 0;}
.field-list th {padding-right: 10px;}

.field-list td.field-label {
    text-align: left; width: 1px; white-space: nowrap; vertical-align: top;
    padding-top: 10px; padding-bottom: 10px;
}
.field-list textarea, .field-list input[type=text], .field-list input[type=password] { width: 99%; margin: 0; }

/*input[type=text].wide { width: 100%; }*/
textarea { height: 170px; }
textarea.wide { width: 100%; }
textarea.tall { height: 350px; }

.field-list input.percentage {width: 25px; display: inline; margin-right: 5px; padding: 1px 3px;}

select.dev-user-changer { opacity: 0.3; }
select.dev-user-changer:hover { opacity: 1; }

.part-wrapper {
    display: inline;  /* don't mess up layout when wrapping something */
}

optgroup.disabled-option {
    color: #ccc;
    height: 1em;
}